* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* task-1-js */

#categories {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 360px;
}

/* Картка */
.item {
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
}

.item:not(:last-child) {
  margin-bottom: 24px;
}

/* Заголовок */
.title {
  margin: 0 0 16px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* Внутрішній список */
.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Елементи списку */
.category-item {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.category-item:not(:last-child) {
  margin-bottom: 8px;
}

/* task-2-js */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.gallery li {
  flex: 1 0 calc(33% - 10px);
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
}
